* {
    text-align: center;
    transition: 200ms;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 80%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
}

td {
    padding: 30px;
}

#redBall {
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: red;
}

#blueBall {
    background-color: blue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: blue;
}