* {
    text-align: center;
    transition: 200ms;
}

.board {
    border-collapse: collapse;
    border: 4px solid black;
    width: 80%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
}

table, td, th, tr {
    padding: 20px;
}

.selRight {
    border-right: 4px solid black;
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}

#redBall {
    background-color: red;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    color: red;
}

#blueBall {
    background-color: blue;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    color: blue;
}